@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #059669  0%, #34d399  100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);

}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}


.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid green;
}
.red {
  border-top: 3px solid green;
}
.blue {
  border-top: 3px solid green;
}
.orange {
  border-top: 3px solid green;
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  
}

.space {
  padding-top: 150px;
}

.footer-basic {
  position: relative;
  top: 150px;
  padding:40px 0;
  background:linear-gradient(60deg, #059669  0%, #34d399  100%);
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

body{
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar{
  position: fixed;
  transition: 1s;
  background: #059669;
}

.navbar-brand{
  color: #fff;
  font-size: 45px;
  font-family: Germania;
  cursor: pointer;
}
.icon-bar{
background-color: #000;

}

.nav{
  font-family: Lithos Pro;
  color: #fff;
  padding: 10px 20px;
}

.nav li{
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.nav li:after{
content: '';
display: block;
  border-bottom: 2px solid #38fd07;
  transform: scaleX(0);
  transition: .2s ease-in-out;
}
.nav li:hover:after{
 transform: scaleX(1);
}

.para{
  min-height: 500px;
}
.para h3{
  text-align: center;
  margin-top: 15%;
  color: #fff;
  font-family: nyala;
  font-size: 44px;
}
    body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
}

body::-webkit-scrollbar
{
  width: 14px;
}
 
body::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
@media(max-width: 720px){
  body{
    background-size: 100% 100%;
  }
  .navbar-collapse{

}
  .para{
    min-height: 800px;
  }
}

.fett{
  font-weight: bold;
  cursor: pointer;
}

.hover:hover {
  font-weight: bold;
}
